flutter>=3.0.0
dart>=3.0.0
flutter_localizations>=0.18.0
cupertino_icons>=1.0.2
google_fonts>=5.1.0
flutter_svg>=2.0.7
mobile_scanner>=3.3.0
sqflite>=2.3.0
path_provider>=2.1.1
path>=1.8.3
provider>=6.0.5
excel>=2.1.0
file_picker>=5.3.3
permission_handler>=10.4.3
intl>=0.18.1
share_plus>=7.1.0
